DJANGO_SECRET_KEY=pon-aqui-tu-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_ENGINE=django.db.backends.postgresql
DB_NAME=catalogo_db
DB_USER=catalogo_user
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
